<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="inicio">
    <div class="conteiner">
        <table class="table">
            <thead>
              <tr>
                <th scope="col"> imagen</th>
                <th scope="col">nombre</th>
                <th scope="col">tipo</th>
                <th scope="col">precio</th>
              </tr>
            </thead>
            <tbody>
              <tr >
                 <td><img class="carr" src="/assets/silla.jpg" ></td>
                <td> Silla de caño  </td>
                <td>Caño</td>
                <td>15000</td>
              </tr>
    
            </tbody>
          </table>
          <button  class="btn btn-primary" style="text-align:center" onclick="alert('Gracias por su compra');">  Comprar</button>
        </div>
    </div>
</body>
</html>
