<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="info" >
        <div class="tr">
            <div > <img class="img1" src="./assets/silla.jpg" >   </div>
        </div>
        <div class="tr">
            <h1>Informacion</h1>
            <div class ="dea">
            <div> Nombre: Silla de caño </div>
            <div> Material: Caño </div>
            <div> Descripcion: Silla de caño con asiento de bratina de color Beige </div>
            <div> Precio: 15000 </div>
        </div>
        <div class="buttom">
            <a href="" style="margin: 1cm;" class="btn btn-primary">Volver</a>
            <a href="carrito" class="btn btn-primary">Agregar carrito</a>
            </div>
        </div>
        
        </div>
    
</body>
</html>
